<!doctype html>
<html lang="en">
<head>
    <title>Rentley</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="icon" type="image/x-icon" href="~/assets/Images/Favicon/Rentley.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="~/assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="site-navigation">
        @if (ViewBag.Login != null)
        {
            <!-- Navbar for logged-in users -->
            <div class="nav-item dropdown header-container" style="color: #ccc; margin-top: 5vh;">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <img class="rounded-circle me-lg-2 me" src="~/admin_assets/img/user.jpg">
                    <span class="me-text" style="color: #ccc;">@ViewBag.Login</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end border-0 rounded-0 rounded-bottom m-0">
                    <a href="@Url.Action("My_Rents", "Renter")" class="dropdown-item">My Rents</a>
                    <a href="@Url.Action("logout", "Renter")" class="dropdown-item">Log Out</a>
                </div>
            </div>
        }
        else
        {
            <!-- Navbar for guests (not logged in) -->
            <div class="header-container">
                <a href="@Url.Action("register", "Renter")" class="nav-link sign-up-link">
                    Sign Up
                </a>
                <a href="@Url.Action("Login", "Renter")" class="sign-in-btn" style="color: #222; font-weight: 700; text-decoration: none;">
                    Sign In
                </a>
            </div>
        }
    </nav>

    @RenderBody()

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"></script>
</body>
</html>
